metagenome/*/*/queries/*
metagenome/*/*/dream_stellar/*
metagenome/*/*/stellar/*
metagenome/*/*/search/*.out
metagenome/*/*/bins/*

valik-split/*/split/*
valik-split/*/queries/*
valik-split/*/dream_stellar/*
valik-split/*/stellar/*
valik-split/*/search/*.out
valik-split/*/bins/*

read-mapping/*.fasta
read-mapping/*/*.fastq
*/.snakemake/*
*/*/.snakemake/*
*/*/*/.snakemake/*

