*.out
*.err
*/*.log
*.fasta*
*.fastq
*.gff
*.gff.out
*.txt
*.bin
*/ground_truth/*
*/*.time
*/evaluation/*
*/.snakemake/*
*/.ipynb_checkpoints/*
*/*.index
*/*.gff
*/stellar/*
*/blast/*
*/valik/*
*/fn_err_conf*.tsv
*.stdout
*.stderr
*/meta/*
